@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'; 

.contenedor {
    border: 1px solid gray;
    padding: 32px 16px;
    border-radius: 4px;
}

.iconRight {
    font-size: 10px !important;
}

.textSlate {
     color: #4b4b4b;
}

.noMargin{
    margin: 0;
}

.bold{
    font-weight: 700;
    font-size: 1rem;
}

.subTitle{
    font-size: .9rem;
    font-weight: 400;
}

.flex {
    display: flex;
    gap: 32px;
}
.flexCol{
    flex-direction: column;
}
.flexCenter {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon {
    font-size: 20px;
    color: rgba(5, 24, 77, 0.39);
}

.method{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.contenedorIcon {

    border-radius: 100%;
    background-color: rgb(152, 202, 243);
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorD {
    flex-basis: 70%;
}

.form {
    margin-top: 12px;
    display: flex;
    gap: 8px;
}

.formInput {
    padding: 12px;
    width: 15px !important;
   
    text-align: center;
}

.containerButtons{
    margin-top: 32px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.btnConfirm{
    color: white;
    background-color: rgb(78, 131, 231);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
}

.btnBack{
    color: rgb(78, 131, 231);
    text-decoration: none;
    font-size: 14px;
}